/* utilities */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-logo: #2196f3;
  --color-gray: #757575;
  --color-black: #212121;
  --color-white: #ffffff;
  --color-white-background: #ffffff;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* body */
body {
  font-family: roboto, sans-serif;
  background-color: var(--color-white-background);
  line-height: 1.2;
  /* font-weight: 400; */
  letter-spacing: 0.03em;
  /* font-style: normal; */
  color: var(--color-black);
  list-style: none;
  margin: 0;
}

/* header */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
/* logo */
.logo {
  margin-right: 93px;
  padding: 0;

  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-logo);
}

.header-logo-accent {
  color: #000000;
}
/* navigation */
.header-list-menu,
.header-list-contact {
  padding: 0;
  display: flex;
}
.header-list-menu .header-list + .header-list,
.header-list-contact .header-list + .header-list {
  margin-left: 50px;
}

.header-list-contact {
  margin-left: auto;
}

.header-link,
.contacts {
  padding: 32px 0;
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  letter-spacing: 0.02em;
  line-height: 1.14;
}

.contacts {
  color: var(--color-gray);
}

.header-link:hover,
.header-link:focus,
.contacts:hover,
.contacts:focus,
.footer-phone:hover,
.footer-phone:focus,
.footer-adress:hover,
.footer-adress:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: var(--color-logo);
}

/* hero */
.hero {
  /* margin: 0 0 94px 0; */
  margin: auto;
  align-items: center;
  width: 1200px;
  /* height: 600px; */

  background: rgba(47, 48, 58, 1);
  text-align: center;
}
.hero-title {
  /* margin: 200px 452px 80px 452px; */

  color: var(--color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 50px;
  background-color: var(--color-logo);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-family: inherit;

  outline: 2px solid blueviolet;
}
/* our_features */

.features-list {
  display: flex;
  outline: 2px solid orange;
}

.features-list .feature-item + .feature-item {
  margin-left: 30px;
}

.features-title {
  display: none;
  outline: 2px solid orange;
}

.features-title2 {
  margin-bottom: 10px;

  text-transform: uppercase;
  font-size: 14px;

  outline: 2px solid orange;
}
.features-text {
  color: var(--color-gray);
  line-height: 1.7;
  /* margin-bottom: 94px; */

  outline: 2px solid orange;
}
/* Actions */

/* текст шапок */
.actions-title,
.team-title,
.projects-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  outline: 2px solid tomato;
}

.actions-title {
  /* margin: 50px; */
  /* display: block; */
}
.actions-list {
  display: flex;
  justify-content: center;
}

.actions-list .action-item + .action-item {
  margin-left: 30px;
}

/* our_team */
.team .container {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: center;
}

/* .team-list .item + .item {
  margin-left: 30px;
} */
.team-list .items + .items {
  margin-left: 30px;
}

.member-name {
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;

  outline: 2px solid tomato;
}
.team-text {
  margin: 0;
  text-align: center;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-gray);

  outline: 2px solid tomato;
}

.team-list .img {
  outline: 2px solid tomato;
}

/* footer */
.footer .container {
  background-color: #2f303a;
  line-height: 1.7;
  font-style: normal;

  outline: 2px solid tomato;
}
.footer-logo-accent {
  color: var(--color-white);

  outline: 2px solid tomato;
}
.footer-adress {
  text-decoration: none;
  color: var(--color-white);
  font-style: normal;

  outline: 2px solid tomato;
}
.footer-mail,
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;

  outline: 2px solid tomato;
}
/* our_projects */
.project-button {
  display: inline-block;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  height: 26px;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 0px 22px 0px 22px;
}
.project-button:hover {
  background-color: var(--color-logo);
  color: var(--color-white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  height: 26px;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 0px 22px 0px 22px;
}
.projects-title {
  visibility: hidden;
  margin: 0;
}

.projects-list-buttons {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;

  outline: 2px solid tomato;
}
.projects-list-buttons .item + .item {
  margin-left: 8px;

  outline: 2px solid tomato;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  vertical-align: middle;
  outline: 2px solid tomato;
}

.team-list .img {
  margin-bottom: 20px;
  display: block;
  outline: 2px solid tomato;
}

.project-titel2 {
  outline: 2px solid tomato;
  display: block;
}

.project-list .item {
  display: inline-block;
  margin: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  outline: 2px solid tomato;
}
.project-text {
  line-height: 1.88;
  color: var(--color-gray);
  margin: 0;
  outline: 2px solid tomato;
}
